
@font-face {
  font-family: 'SugarAndSpiceDemo';
  /* Name that you will use to reference the font */
  src: url('Sugar & Spice demo.ttf') format('truetype');
  /* Path to the font file */
}
body{

  background-image: linear-gradient(#C2AE9B, #E2D7C5,#E2D7C5);
  color: #4F3121;
 
  font-family: "Wix Madefor Display", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;

}
#nav{
  background-color: #B2C1C2;
}

#title{
  font-family: 'SugarAndSpiceDemo', sans-serif; 
  font-size: 200%;
  color:#4F3121;
}
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #E2D7C5; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


.button-56 {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: #f7a440;
  color:#4F3121;
  border-radius: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px #4F3121;
}

.button-56:hover {
  background-color: #e07c24;
  box-shadow: 0 6px 8px #4F3121;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #E2D7C5;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #E2D7C5;
  padding: 20px;
}


/* star css*/
.rating {
  display: flex;
  flex-direction: row-reverse;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url('star.png'); /* Change 'star.png' to your star image */
}

.rating label:before {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('glow.jpg'); /* Change 'glow.png' to your glowing star image */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.rating input:checked + label:before {
  opacity: 1;
}


#footer {
  background-color: #B2C1C2;
}

.review{
background-color: #f5ecde;
border-radius: 10%;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#logo {
 
  border-radius: 50%;

}