
@font-face {
    font-family: 'SugarAndSpiceDemo';
    /* Name that you will use to reference the font */
    src: url('Sugar & Spice demo.ttf') format('truetype');
    /* Path to the font file */
  }
  body {
    background-image: linear-gradient(#C2AE9B, #E2D7C5,#E2D7C5);
    color: #4F3121;
    font-family: "Wix Madefor Display", sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
  
  }
#nav{
    background-color: #B2C1C2;
  }
  
  #title{
    font-family: 'SugarAndSpiceDemo', sans-serif; 
    font-size: 200%;
    color:#4F3121;
  }

  /* start of accordian*/
  a{
    color:var(--bg);
    text-decoration:none;
  }
  .parallax{
    
    min-height:500px;
     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity:0.75;
    
  }
  
  
  #container{
    width:100%;
    background-image:linear-gradient(#363535,#545454,#646262,gray,#b8b7b7 );
    
    
  }
  #container header{
    margin:10px;
    padding:150px 10px 10px 10px;
    position:relative;
    display:block;
    text-align:center;
    
  }
  #container header h1{
    font-size:36px;
    line-height:36px;
    margin:0;
    position:relative;
    font-weight:700;
    color:var(--bg);
    
  }
  .ia-container{
    width:685px;
    margin:20px auto;
    overflow:hidden;
    
  }
  .ia-container figure{
    position:absolute;
    top:0px;
    left:50px;
    width:335px;
  margin:0;
    
    box-shadow:0 0 0 1px rgba(255,255,255,0.6);
    -webkit-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
  }
  
  
  .ia-container > figure{
    position:relative;
    left:0  !important;
    
  }
  .ia-container img{
    display:block;
    width:100%;
    
  }
  .ia-container input{
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:100%;
    cursor:pointer;
    border:0;
    padding:0;
    opacity:0;
    z-index:100;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    
    
  }
  .ia-container  input:checked{
    width:5px;
    left:auto;
    right:0px;
    
  }
  .ia-container  input:checked ~ figure{
    -webkit-transition:all 0.7s ease-in-out;
    -moz-transition:all 0.7s ease-in-out;
    -o-transition:all 0.7s ease-in-out;
    -ms-transition:all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    left:335px;
    
  }
  
  
  .ia-container figcaption{
    width:100%;
    height:100%;
    background:rgba(87,73,81,0.1);
    position:absolute;
    top:0;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    transition:all 0.2s linear;
    float:left;
  }
  
  
  .ia-container figcaption span{
    position:absolute;
    top:40%;
    right:20px;
    left:20px;
    text-align:center;
    background:rgba(0,0,139,0.9);
    line-height:20px;
    font-size:18px;
    opacity:0;
    text-transform:uppercase;
    letter-spacing:4px;
    font-weight:700;
    padding:15px;
    color:white;
    
  }
  .ia-container input:checked +figcaption span{
    -webkit-transition:all 0.4s ease-in-out 0.5s;
    -moz-transition:all 0.4s ease-in-out 0.5s;
    -o-transition:all 0.4s ease-in-out 0.5s;
    -ms-transition:all 0.4s ease-in-out 0.5s;
    transition:all 0.4s ease-in-out 0.5s;
    opacity:1;
    top:65%;
  }
/*end of accordian*/  


#footer {
    background-color: #B2C1C2;
  }