@font-face {
  font-family: 'SugarAndSpiceDemo'; /* Name that you will use to reference the font */
  src: url('Sugar & Spice demo.ttf') format('truetype'); /* Path to the font file */
}


body {
  background-color: #E2D7C5;
  color: #4F3121;
  font-family: "Wix Madefor Display", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;

}


h2 {
 color:#4F3121;
 font-family: 'SugarAndSpiceDemo', sans-serif; 
 font-size: 300%;
}
.title {
  background-color: #B2C1C2;
}

/* Button CSS */



/* CSS */
.button-56 {
  align-items: center;
  background-color: #FF8215;
  border: 2px solid #4F3121;
  border-radius: 8px;
  box-sizing: border-box;
  color: #4F3121;
  cursor: pointer;
  display: flex;
  font-family: 'SugarAndSpiceDemo', sans-serif; 
  font-size: 200%;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #B2C1C2;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #C2AE9B;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
/* Carousel Header */
header {
  color: #4F3121;
  font-size: 400% bold;
  width: 100%;
  height:25%;
}



/* Carousel */
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 25vh;
  z-index: 1000;
  width: 100%;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: change 10s infinite ease-in-out;
}

.Section_top {
  display: flex;
  align-items: center;
  height: 100%;
  background-image: url('Images/carousel1.jpg'); /* Default background */
}

.content {
  position: relative;
  text-transform: uppercase;
  width: 100%;
  color: white;
}

.content .head {
  width: 100%;
}

.content header {
  font-size: 60px;
  letter-spacing: 15px;
}

.content header span {
  color: #FF8215;
  font-size:bold;
}


@keyframes change {
  0% {
    background-image: url('Images/carousel1.jpg');
   
  }
  20% {
    background-image: url('Images/carousel2.jpg');
  }
  40% {
    background-image: url('Images/carousel3.jpg');
  }
  60% {
    background-image: url('Images/carousel4.jpg');
  }
  80% {
    background-image: url('Images/carousel5.jpeg');
  }
  100% {
    background-image: url('Images/carousel1.jpg');
  }
}

.car{
  width:100%;
  height:25%;
  
}
.cont{
  height:100%;
  width:100%;
}

img{
 
  border-radius: 50%;
  height:25%;
  width:25%;
}
/*END OF CAROUSEL*/
.buttonbar{
  background-color: #b2c1c250;
justify-content: center;


}
.text{
  background-color: #c2ae9b83; 
}